<div id="new-mail-window" class="modal fade" ng-controller="NewMailWindowController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Mail to <span ng-repeat="recipient in mail.to track by $index"><span class="badge">{{ recipient }}</span>, </span></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="mail-subject">Subject:</label>
          <div class="controls">
            <input type="text" name="mail-subject" id="mail-subject" class="form-control" placeholder="Subject" ng-model="mail.subject">
          </div>
        </div>
        <div class="form-group">
          <label for="mail-body">Massage:</label>
          <div class="controls">
            <textarea id="mail-body" class="form-control" rows="3" placeholder="Massage" ng-model="mail.body"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="done($event)" >Done</button>
      </div>
    </div>
  </div>
</div>
