<div id="tenderer-{{ tenderer.id }}-quote-form" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Quote status</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="quote-responsed-at">Quote responsed at:</label>
            <input type="datetime-local" name="quote-responsed-at" class="form-control" ng-model="tenderer.quote_responsed_at">
          </div>
          <div class="form-group">
            <label for="quote-price">Quote price:</label>
            <input type="number" class="form-control" id="quote-price" ng-model="tenderer.quote_price">
          </div>
          <div class="form-group">
            <label for="quote-note">Quote note:</label>
            <input type="text" class="form-control" id="quote-note" ng-model="tenderer.quote_notes">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="quote(tenderer)">Done</button>
      </div>
    </div>
  </div>
</div>
