<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-6">
        <h4>Quote status</h4>
      </div>
      <div class="col-lg-6">
        <div class="btn-toolbar pull-right" role="toolbar">
          <div class="btn-group">
            <a class="btn btn-danger" href="#" ng-click="decline(tenderer)">Decline</a>
          </div>
          <div class="btn-group">
            <button class="btn btn-primary" data-toggle="modal" data-target="#tenderer-{{ tenderer.id }}-quote-form">Quote</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-group">
        <li class="list-group-item">
        <div class="list-group-item-heading">
          <b>Price</b>
        </div>
        <p class="list-group-item-text">{{ tenderer.quote_price }}</p>
        </li>
        <li class="list-group-item">
        <div class="list-group-item-heading">
          <b>Response time</b>
        </div>
        <p class="list-group-item-text">{{ tenderer.quote_responsed_at }}</p>
        </li>
        <li class="list-group-item">
        <div class="list-group-item-heading">
          <b>Note</b>
        </div>
        <p class="list-group-item-text">{{ tenderer.quote_notes }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
