<div class="panel">
  <div class="panel-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <%= render partial: 'status' %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <%= render partial: 'contacts/detail' %>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
              <%= render partial: 'calls/list' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'quote_form' %>
