<div class="container-fluid">
  <div id="search-bar" class="row" ng-controller="TendersSearchBarController">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Tenders" ng-model="query.text">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <form class="form-horizontal tc-dropdown-form" role="form" ng-click="preventClose($event)">
              <div class="form-group">
                <label for="query-state" class="col-sm-2">From</label>
                <div class="col-sm-10">
                  <select id="query-state" class="form-control" ng-model="query.state" ng-options="state.abbreviation for state in states">
                    <option value="">All States</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="query-text" class="col-sm-12">Has the words:</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" id="query-text" ng-model="query.text">
                </div>
              </div>
              <div class="form-group">
                <label for="query-client-group" class="col-sm-2">Within</label>
                <div class="col-sm-10">
                  <select id="query-client-group" class="form-control" ng-model="query.clientGroup" ng-options="clientGroup.name for clientGroup in clientGroups">
                    <option value="">All Client Groups</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="query-region" class="col-sm-2"></label>
                <div class="col-sm-10">
                  <select id="query-region" class="form-control" ng-model="query.region" ng-options="region.name for region in regions">
                    <option value="">All Regions</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="query-status" class="col-sm-12">Status</label>
                <div class="col-sm-12">
                  <select multiple id="query-status" class="form-control" ng-model="query.statuses">
                    <option value="Tender created">Tender created</option>
                    <option value="Tender submitted">Tender submitted</option>
                    <option value="Tender held">Tender held</option>
                    <option value="Tender withdrew">Tender withdrew</option>
                    <option value="Tender won">Tender won</option>
                    <option value="Tender lost">Tender lost</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-6">
                  <button type="submit" class="btn btn-primary" ng-click="search(closeSearchForm=true)"><i class="fa fa-search"></i></button>
                </div>
                <div class="col-sm-6">
                  <a href="#" class="pull-right" ng-click="cleanFilters($event)"><i class="fa fa-times"></i> clean filters</a>
                </div>
              </div>
            </form>
          </div>
          <button type="submit" class="btn btn-primary" ng-click="search()"><i class="fa fa-search"></i></button>
        </span>
      </div><!-- /input-group -->
      <div class="well well-sm">
        <p>
        <span ng-class="{ hidden: !query.text.length }">Has word: <span class="badge">{{ query.text }}</span>, </span>
        <span ng-class="{ hidden: !query.state.abbreviation.length }">State: <span class="badge">{{ query.state.abbreviation }}</span>, </span>
        <span ng-class="{ hidden: !query.clientGroup.name.length }">Client Group: <span class="badge">{{ query.clientGroup.name }}</span>, </span>
        <span ng-class="{ hidden: !query.region.name.length }">Region: <span class="badge">{{ query.region.name }}</span>, </span>
        <span ng-class="{ hidden: !query.statuses.length }">Status: <span ng-repeat="status in query.statuses"><span class="badge">{{ status }}</span></span></span>
        </p>
      </div>
    </div>
  </div>
</div>
