<%- model_class = Tender -%>

<% content_for :header do %>
  <%= render partial: "layouts/header", locals: {active_tab: model_class} %>
<% end %>

<% content_for :content do %>
  <div id="navigation-view">
    <div id="navigation-bar" class="container-fluid">
      <div class="row">
        <div class="col-xs-5">
          <div class="btn-toolbar pull-left" role="toolbar">
            <div class="btn-group">
              <%= link_to @tender, class: 'btn', title: "Back", data: { toggle:"tooltip", placement:"bottom" } do %>
                <i class="fa fa-chevron-left fa-3x"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="content" class="container-fluid" ng-controller="TenderSettingsController" ng-init="tender_id = <%= @tender.id %>;">
      <h1>Select Tender</h1>
      <form>
        <div class="form-group">
          <div class="controls">
            <select class="form-control" id="tender_id" name="tender_id" ng-model="sourceTender" ng-options="tender.name for tender in tenders"></select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="copy(sourceTender)">Copy</button>
      </form>
    </div>
  </div>
<% end %>

<%= render template: "layouts/app" %>
