<div id="notification-center" class="container-fluid" ng-controller="NotificationController">
  <div class="row">
    <div class="col-xs-12">
      <tc-notification notification="notification">
        <%= bootstrap_flash %>
      </tc-notification>
    </div>
  </div><!--/row-->
</div> <!-- /container -->
